.temp-button {
  box-shadow: none;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.temp-button-primary {
  background-color: rgba(0, 193, 182, 1);
}
