@use 'sass:map';
.tempui-avatar {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  //img
  & > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-content {
    user-select: none;
  }
  &-label {
    font-size: 14px;
    line-height: 20px;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      PingFang SC,
      Hiragino Sans GB,
      Microsoft YaHei,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }

  // 形状
  &-circle {
    border-radius: var(--tempui-border-radius-circle);
  }

  // 大小size
  $avatar-sizes: (
    extra-extra-small: 20px,
    extra-small: 24px,
    small: 32px,
    default: 40px,
    medium: 48px,
    large: 72px,
    extra-large: 128px
  );

  @each $name, $size in $avatar-sizes {
    &-#{'' + $name} {
      width: $size;
      height: $size;
    }
  }

  // 为不同尺寸的avatar添加对应的label样式
  $label-font-sizes: (
    extra-extra-small: 10px,
    extra-small: 10px,
    small: 12px,
    default: 18px,
    medium: 20px,
    large: 32px,
    extra-large: 64px
  );

  $label-line-heights: (
    extra-extra-small: 15px,
    extra-small: 15px,
    small: 16px,
    default: 24px,
    medium: 28px,
    large: 44px,
    extra-large: 77px
  );

  @each $name, $size in $avatar-sizes {
    $font-size: map.get($label-font-sizes, $name);
    $line-height: map.get($label-line-heights, $name);

    @if $font-size and $line-height {
      &-#{'' + $name} &-label {
        font-size: $font-size;
        line-height: $line-height;
      }
    }
  }

  //颜色
  $avatar-colors: (
    amber: var(--tempui-amber-3),
    blue: var(--tempui-blue-3),
    cyan: var(--tempui-cyan-3),
    green: var(--tempui-green-3),
    grey: var(--tempui-grey-3),
    indigo: var(--tempui-indigo-3),
    light-blue: var(--tempui-light-blue-3),
    light-green: var(--tempui-light-green-3),
    lime: var(--tempui-lime-3),
    orange: var(--tempui-orange-3),
    pink: var(--tempui-pink-3),
    purple: var(--tempui-purple-3),
    red: var(--tempui-red-3),
    teal: var(--tempui-teal-3),
    yellow: var(--tempui-yellow-3)
  );

  @each $name, $color in $avatar-colors {
    &-#{'' + $name} {
      background-color: rgba($color, 1);
      color: rgba(var(--tempui-white), 1);
    }
  }
}
