@import '../base/constant';

//复选框-背景色-动画持续时间
$transition_duration-checkbox-bg: var(--#{$prefix}-transition_duration-none);
//复选框-背景色-过渡曲线
$transition_function-checkbox-bg: var(--#{$prefix}-transition_function-easeIn);
//复选框-背景色-延迟时间
$transition_delay-checkbox-bg: var(--#{$prefix}-transition_delay-none);
//复选框-边框-动画持续时间
$transition_duration-checkbox-border: var(--#{$prefix}-transition_duration-none);
//复选框-边框-过渡曲线
$transition_function-checkbox-border: var(--#{$prefix}-transition_function-easeIn);
//复选框-边框-延迟时间
$transition_delay-checkbox-border: var(--#{$prefix}-transition_delay-none);

//文字颜色
$color-checkbox_label-text-default: var(--#{$prefix}-color-text-0);
//选框背景颜色 - 悬浮
$color-checkbox_default-bg-hover: var(--#{$prefix}-color-fill-0);
//选框背景颜色 - 默认
$color-checkbox_default-bg-default: transparent;
//选框描边颜色 - 悬浮
$color-checkbox_default-border-hover: var(--#{$prefix}-color-focus-border);
//选框描边颜色 - 默认
$color-checkbox_default-border-default: var(--#{$prefix}-color-text-3);
//选框未选中态背景颜色 - 按下
$color-checkbox_default-bg-active: var(--#{$prefix}-color-fill-1);
//禁用文字颜色
$color-checkbox_label-text-disabled: var(--#{$prefix}-color-disabled-text);
//选框选中态背景颜色 - 默认
$color-checkbox_checked-bg-default: var(--#{$prefix}-color-primary);
//选框选中态背景颜色 - 悬浮
$color-checkbox_checked-bg-hover: var(--#{$prefix}-color-primary-hover);
//选框选中态背景颜色 - 按下
$color-checkbox_checked-bg-active: var(--#{$prefix}-color-primary-active);
//选框选中态对勾颜色 - 默认
$color-checkbox_checked-icon-default: var(--#{$prefix}-color-white);

//选框选中态对勾颜色 - 悬浮
$color-checkbox_checked-icon-hover: var(--#{$prefix}-color-white);
//选框选中态对勾颜色 - 按下
$color-checkbox_checked-icon-active: var(--#{$prefix}-color-white);
//选框选中态描边颜色 - 默认
$color-checkbox_checked-border-default: var(--#{$prefix}-color-primary);
//选框选中态描边颜色 - 悬浮
$color-checkbox_checked-border-hover: var(--#{$prefix}-color-primary-hover);
//选框选中态描边颜色 - 按下
$color-checkbox_checked-border-active: var(--#{$prefix}-color-primary-active);
//卡片类型复选框选中时的背景颜色 - 默认
$color-checkbox_cardType_checked-bg: var(--#{$prefix}-color-primary-light-default);
//卡片类型复选框选中且禁用时的背景颜色 - 默认
$color-checkbox_cardType_checked_disabled-bg: var(--#{$prefix}-color-primary-light-default);
//卡片类型复选框未选中时的背景颜色 - 悬浮
$color-checkbox_cardType-bg-hover: var(--#{$prefix}-color-fill-0);
//卡片类型复选框未选中时的背景颜色 - 按下
$color-checkbox_cardType-bg-active: var(--#{$prefix}-color-fill-1);
//卡片类型复选框未选中时的边框颜色 - 默认
$color-checkbox_cardType_checked_border-default: var(--#{$prefix}-color-primary);
//卡片类型复选框选中时的边框颜色 - 悬浮
$color-checkbox_cardType_checked_border-hover: var(--#{$prefix}-color-primary-hover);
//卡片类型复选框选中时的边框颜色 - 按下
$color-checkbox_cardType_checked_border-active: var(--#{$prefix}-color-primary-active);
//卡片类型复选框选中且禁用时的边框颜色 - 默认
$color-checkbox_cardType_checked_disabled_border-default: var(--#{$prefix}-color-primary-disabled);
//卡片类型复选框 addon 的文字颜色 - 默认
$color-checkbox_cardType_addon-text-default: var(--#{$prefix}-color-text-0);
//卡片类型复选框 extra 的文字颜色 - 默认
$color-checkbox_cardType_extra-text-default: var(--#{$prefix}-color-text-2);
//卡片类型复选框 inner 的背景颜色 - 悬浮
$color-checkbox_cardType_inner-bg-hover: var(--#{$prefix}-color-white);
//卡片类型复选框 inner 的背景颜色 - 按下
$color-checkbox_cardType_inner-bg-active: var(--#{$prefix}-color-white);
//卡片类型复选框 inner 的背景颜色 -默认
$color-checkbox_cardType_inner-bg-default: var(--#{$prefix}-color-white);
//选框禁用态背景颜色 - 默认
$color-checkbox_disabled-bg-default: var(--#{$prefix}-color-disabled-fill);
//选框禁用态描边颜色 - 默认
$color-checkbox_disabled-border-default: var(--#{$prefix}-color-border);
//选框选中 + 禁用态背景颜色
$color-checkbox_checked-bg-disabled: var(--#{$prefix}-color-primary-disabled);
//选框禁用态对勾颜色
$color-checkbox_checked-icon-disabled: var(--#{$prefix}-color-white);
//复选框轮廓-聚焦颜色
$color-checkbox_primary-outline-focus: var(--#{$prefix}-color-primary-light-active);
//卡片复选框默认边框颜色
$color-checkbox_cardType-border-default: transparent;
//extra 副标题文字颜色
$color-checkbox_extra-text-default: var(--#{$prefix}-color-text-2);

//文字大小
$font-checkbox_label-size: $font-size-regular;
//文字行高
$font-checkbox_label-lineHeight: 20px;
//卡片类型复选框的 addon 的文字大小
$font-checkbox_cardType_addon-size: $font-size-regular;
//卡片类型复选框的 addon 的 fontWeight
$font-checkbox_cardType_addon-fontWeight: $font-weight-bold;
//卡片类型复选框的 addon 的文字行高
$font-checkbox_cardType_addon-lineHeight: 20px;
//卡片类型复选框的 extra 的文字大小
$font-checkbox_cardType_extra-size: $font-size-regular;
//卡片类型复选框的 extra 的 fontWeight
$font-checkbox_cardType_extra-fontWeight: normal;
//卡片类型复选框的 extra 的文字行高
$font-checkbox_cardType_extra-lineHeight: 20px;

//选框对勾 icon 高度
$height-checkbox_inner: 20px;

// /卡片类型复选框的圆角大小
$radius-checkbox_cardType: 3px;
//选框圆角
$radius-checkbox_inner: var(--#{$prefix}-border-radius-extra-small);

//文字与选框间距
$spacing-checkbox_label-paddingLeft: $spacing-tight;
//extra 副标题左侧内边距
$spacing-checkbox_extra-paddingLeft: $width-icon-medium + $spacing-tight;
//extra 副标题顶部内边距
$spacing-checkbox_extra-marginTop: $spacing-extra-tight;
//卡片类型复选框的水平内间距
$spacing-checkbox_cardType-paddingX: $spacing-base;
//卡片类型复选框的垂直内间距
$spacing-checkbox_cardType-paddingY: $spacing-base-tight;
//卡片类型复选框 inner 的右外边距
$spacing-checkbox_cardType_inner-marginRight: $spacing-tight;
//卡片样式复选框的下间距
$spacing-checkbox_card_group_vertical-marginBottom: $spacing-base;
//暂无
$spacing-checkbox_group_vertical-marginBottom: $spacing-base;
//垂直复选框组底部外边距
$spacing-checkbox_group_vertical_item-marginBottom: $spacing-base-tight;
//水平复选框组右侧外边距
$spacing-checkbox_group_horizontal-marginRight: $spacing-base;

//选框对勾 icon 宽度
$width-checkbox_inner: $width-icon-medium;
//卡片类型复选框的边框宽度
$width-checkbox_cardType_checked-border: 1px;
//卡片类型复选框选中且禁用的边框宽度
$width-checkbox_cardType_checked_disabled-border: 1px;
//复选框轮廓宽度
$width-checkbox-outline: 2px;

//选框内描边宽度
$size-checkbox_inner-shadow: $border-thickness-control;
//复选框-放大
$transform_scale-checkbox: var(--#{$prefix}-transform_scale-none);

.#{$prefix}-checkbox {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: $font-checkbox_label-size;
  line-height: $font-checkbox_label-lineHeight;
  font-family: $font-family;
  cursor: pointer;
  transition:
    background-color $transition_duration-checkbox-bg $transition_function-checkbox-bg
      $transition_delay-checkbox-bg,
    border $transition_duration-checkbox-border $transition_function-checkbox-border
      $transition_delay-checkbox-border;
  transform: scale($transform_scale-checkbox);
  column-gap: $spacing-checkbox_label-paddingLeft;
  width: fit-content;

  &-focus {
    outline: $width-checkbox-outline solid $color-checkbox_primary-outline-focus;
  }

  //默认hover active 样式
  &:hover &-inner &-inner-display {
    background-color: $color-checkbox_default-bg-hover;
  }
  &:hover &-inner &-inner-display {
    box-shadow: inset 0 0 0 $size-checkbox_inner-shadow $color-checkbox_default-border-hover;
  }
  &:active &-inner &-inner-display {
    background-color: $color-checkbox_default-bg-active;
  }
  &-checked:active &-inner &-inner-display,
  &-checked:hover &-inner &-inner-display {
    box-shadow: none;
  }
  // 选中样式
  &-checked &-inner &-inner-display {
    background-color: $color-checkbox_checked-bg-default;
    color: $color-checkbox_checked-icon-default;
    border-color: $color-checkbox_checked-border-default;
    box-shadow: inset 0 0 0 $size-checkbox_inner-shadow
      $color-checkbox_cardType_checked_border-default;
  }
  &-checked:hover &-inner &-inner-display {
    background-color: $color-checkbox_checked-bg-hover;
    border-color: $color-checkbox_checked-border-hover;
    color: $color-checkbox_checked-icon-hover;
  }
  &-checked:active &-inner &-inner-display {
    color: $color-checkbox_checked-icon-active;
    border-color: $color-checkbox_checked-border-active;
    background-color: $color-checkbox_checked-bg-active;
  }
  //card
  &-cardType {
    flex-wrap: nowrap;
    align-items: flex-start;
    border-radius: $radius-checkbox_cardType;
    padding: $spacing-checkbox_cardType-paddingY $spacing-checkbox_cardType-paddingX;
    background: $color-checkbox_default-bg-default;
    border: $width-checkbox_cardType_checked-border solid $color-checkbox_cardType-border-default;
  }
  // card选中样式
  &-cardType-checked {
    background: $color-checkbox_cardType_checked-bg;
    border: $width-checkbox_cardType_checked-border solid
      $color-checkbox_cardType_checked_border-default;
  }
  &-cardType-checked:hover {
    background: $color-checkbox_cardType_checked-bg;
    border: $width-checkbox_cardType_checked-border solid
      $color-checkbox_cardType_checked_border-default;
  }
  &-cardType-checked:active {
    background: $color-checkbox_cardType_checked-bg;
    border-color: $color-checkbox_cardType_checked_border-default;
  }
  // 选中且禁用样式
  .#{$prefix}-checkbox &-cardType-checked-disabled {
    background: $color-checkbox_cardType_checked_disabled-bg;
    border: $width-checkbox_cardType_checked_disabled-border solid
      $color-checkbox_cardType_checked_disabled_border-default;
  }

  // card未选中样式
  &-cardType-unchecked:hover {
    background: $color-checkbox_cardType-bg-hover;
  }
  &-cardType-unchecked:active {
    background: $color-checkbox_cardType-bg-active;
  }
  &-cardType-unchecked-disabled:hover,
  &-cardType-unchecked-disabled:active {
    background-color: transparent;
  }

  // 禁用样式
  &-disabled {
    cursor: not-allowed;
  }
  &-disabled &-inner &-inner-display {
    background: $color-checkbox_disabled-bg-default;
    box-shadow: inset 0 0 0 $size-checkbox_inner-shadow $color-checkbox_disabled-border-default;
  }
  &-disabled &-inner-checked &-inner-display {
    opacity: 0.75;
    background: $color-checkbox_checked-bg-disabled;
    box-shadow: inset 0 0 0 $size-checkbox_inner-shadow $color-checkbox_checked-bg-disabled;
  }
  &-disabled &-inner-checked {
    color: $color-checkbox_checked-icon-disabled;
  }

  &-disabled:active &-inner &-inner-display,
  &-disabled:hover &-inner &-inner-display {
    background: $color-checkbox_disabled-bg-default;
    box-shadow: inset 0 0 0 $size-checkbox_inner-shadow $color-checkbox_disabled-border-default;
  }

  &-disabled:active &-inner-checked &-inner-display,
  &-disabled:hover &-inner-checked &-inner-display {
    color: $color-checkbox_checked-icon-disabled;
    background: $color-checkbox_checked-bg-disabled;
    box-shadow: none;
  }
  // &-cardType &-inner:hover {
  //   background-color: $color-checkbox_cardType_inner-bg-hover;
  // }
  // &-cardType &-inner:active {
  //   background-color: $color-checkbox_cardType_inner-bg-active;
  // }
  &-cardType-pureCard {
    column-gap: 0;
  }
  &-cardType-pureCard &-inner {
    width: 0;
    opacity: 0;
    position: relative;
    flex-shrink: 0;
  }
  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: $width-checkbox_inner;
    height: $height-checkbox_inner;
    user-select: none;
    cursor: pointer;
    // background-color: $color-checkbox_cardType_inner-bg-default;
    &-display {
      box-sizing: border-box;
      position: relative;
      width: 16px;
      height: 16px;
      margin: 0;
      background: transparent;
      transition:
        background-color $transition_duration-checkbox-bg $transition_function-checkbox-bg
          $transition_delay-checkbox-bg,
        border $transition_duration-checkbox-border $transition_function-checkbox-border
          $transition_delay-checkbox-border;
      box-shadow: inset 0 0 0 $size-checkbox_inner-shadow $color-checkbox_default-border-default;
      border-radius: $radius-checkbox_inner;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: $width-checkbox_inner;
      }
    }
  }
  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
  }

  &-content {
    user-select: none;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
  &-cardType &-addon {
    font-weight: $font-checkbox_cardType_addon-fontWeight;
    font-size: $font-checkbox_cardType_addon-size;
    line-height: $font-checkbox_cardType_addon-lineHeight;
    color: $color-checkbox_cardType_addon-text-default;
  }
  &-addon {
    display: flex;
    flex: 1 1;
    align-items: center;
    color: $color-checkbox_cardType_addon-text-default;
    line-height: $font-checkbox_cardType_addon-lineHeight;
    -webkit-user-select: none;
    user-select: none;
  }
  &-disabled &-addon,
  &-disabled &-extra {
    color: $color-checkbox_label-text-disabled;
  }
  &-extra {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    box-sizing: border-box;
    color: $color-checkbox_extra-text-default;
  }
  &-cardType &-extra {
    color: $color-checkbox_cardType_extra-text-default;
  }
  &-disabled &-extra,
  &-disabled &-extra {
    color: $color-checkbox_label-text-disabled;
  }

  // group
  &-group {
    font-size: $font-checkbox_label-size;
    font-family: $font-family;
    line-height: 14px;
    &-vertical {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
    &-horizontal {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}
