@import '../base/constant';
.#{$prefix}-hotKeys {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  white-space: nowrap;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 12px;
  line-height: 16px;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  &-content {
    border-radius: 2px;
    height: 20px;
    padding: 2px 8px;
    border: 1px;
    color: var(--#{$prefix}-color-text-2);
    &-background {
      background-color: var(--#{$prefix}-color-fill-0);
    }
  }
  &-split {
    margin: 0 3px;
    color: var(--#{$prefix}-color-text-0);
  }
}
