@import '../base/constant';
.#{$prefix}-icon {
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  fill: currentColor;
  cursor: pointer;
  &:hover {
    color: var(--#{$prefix}-color-primary-hover);
  }
  &-disabled {
    cursor: not-allowed;
    color: var(--#{$prefix}-color-disabled);
    &:hover {
      color: var(--#{$prefix}-color-disabled) !important;
    }
  }
  &-default {
    font-size: 16px;
  }
}
