@import '../base/constant';
//导航一级菜单-背景色-动画持续时间
$transition_duration-navigation_itemL1-bg: var(--#{$prefix}-transition_duration-none);
//导航一级菜单-背景色-过渡曲线
$transition_function-navigation_itemL1-bg: var(--#{$prefix}-transition_function-easeIn);
//导航一级菜单-背景色-延迟时间
$transition_delay-navigation_itemL1-bg: var(--#{$prefix}-transition_delay-none);

//导航栏背景色
$color-navigation-bg-default: var(--#{$prefix}-color-nav-bg);
//导航栏分割线色
$color-navigation_border-default: var(--#{$prefix}-color-border);
//导航栏 header 文字颜色
$color-navigation_header-text-default: var(--#{$prefix}-color-text-0);
//导航栏 footer 图标颜色
$color-navigation_footer_icon-default: var(--#{$prefix}-color-text-2);
//导航栏一级菜单项背景色
$color-navigation_itemL1-bg-default: transparent;
//导航栏一级菜单项文字颜色
$color-navigation_itemL1-text-default: var(--#{$prefix}-color-text-0);
//导航栏一级菜单项图标颜色
$color-navigation_itemL1_icon-default: var(--#{$prefix}-color-text-2);
//导航栏一级菜单项悬浮态背景色
$color-navigation_itemL1-bg-hover: var(--#{$prefix}-color-fill-0);
//导航栏一级菜单项悬浮态文字颜色
$color-navigation_itemL1-text-hover: var(--#{$prefix}-color-text-0);
//导航栏一级菜单项悬浮态图标颜色
$color-navigation_itemL1_icon-hover: var(--#{$prefix}-color-text-2);
//导航栏一级已选中菜单项悬浮态文字颜色
$color-navigation_itemL1_selected-text-hover: var(--#{$prefix}-color-text-0);
//导航栏一级菜单项按下态背景色
$color-navigation_itemL1-bg-active: var(--#{$prefix}-color-fill-1);
//导航栏一级菜单项按下态文字颜色
$color-navigation_itemL1-text-active: var(--#{$prefix}-color-text-0);
//导航栏一级菜单项按下态图标颜色
$color-navigation_itemL1_icon-active: var(--#{$prefix}-color-text-2);
//导航栏一级已选中菜单项按下态文字颜色
$color-navigation_itemL1_selected-text-active: var(--#{$prefix}-color-text-0);
//导航栏一级已选中菜单项背景色
$color-navigation_itemL1_selected-bg-default: var(--#{$prefix}-color-primary-light-default);
//导航栏一级已选中菜单项文字颜色
$color-navigation_itemL1_selected-text-default: var(--#{$prefix}-color-text-0);
//导航栏一级已选中菜单项图标颜色
$color-navigation_itemL1_selected_icon-default: var(--#{$prefix}-color-primary);
//导航栏一级菜单项禁用态背景色
$color-navigation_itemL1_disabled-bg-default: transparent;
//导航栏一级菜单项禁用态文字颜色
$color-navigation_itemL1_disabled-text-default: var(--#{$prefix}-color-disabled-text);
//导航栏一级菜单项禁用态图标颜色
$color-navigation_itemL1_disabled_icon-default: var(--#{$prefix}-color-disabled-text);
//导航栏一级已选中菜单项禁用态背景色
$color-navigation_itemL1_selected_disabled-bg-default: transparent;
//导航栏一级已选中菜单项禁用态文字颜色
$color-navigation_itemL1_selected_disabled-text-default: var(--#{$prefix}-color-primary-disabled);
//导航栏一级已选中菜单项禁用态图标颜色
$color-navigation_itemL1_selected_disabled_icon-default: var(--#{$prefix}-color-primary-disabled);
//水平导航栏一级菜单项文字颜色
$color-navigation_horizontal_itemL1-text-default: var(--#{$prefix}-color-text-2);
//水平导航栏一级菜单项图标颜色
$color-navigation_horizontal_itemL1_icon-default: var(--#{$prefix}-color-text-2);
//水平导航栏一级菜单项背景颜色
$color-navigation_horizontal_itemL1-bg-default: transparent;
//水平导航栏一级菜单项悬浮态文字颜色
$color-navigation_horizontal_itemL1-text-hover: var(--#{$prefix}-color-text-1);
//水平导航栏一级菜单项悬浮态图标颜色
$color-navigation_horizontal_itemL1_icon-hover: var(--#{$prefix}-color-text-1);
//水平导航栏一级菜单项悬浮态背景颜色
$color-navigation_horizontal_itemL1-bg-hover: transparent;
//水平导航栏一级菜单项按下态文字颜色
$color-navigation_horizontal_itemL1-text-active: var(--#{$prefix}-color-text-0);
//水平导航栏一级菜单项按下态图标颜色
$color-navigation_horizontal_itemL1_icon-active: var(--#{$prefix}-color-text-0);
//水平导航栏一级菜单项按下态背景颜色
$color-navigation_horizontal_itemL1-bg-active: transparent;
//水平导航栏一级菜单项选中态文字颜色
$color-navigation_horizontal_itemL1_selected-text-default: var(--#{$prefix}-color-text-0);
//水平导航栏一级菜单项选中态图标颜色
$color-navigation_horizontal_itemL1_selected_icon-default: var(--#{$prefix}-color-text-0);
//水平导航栏一级菜单项选中态背景颜色
$color-navigation_horizontal_itemL1_selected-bg-default: transparent;
//水平导航栏一级菜单项禁用态文字颜色
$color-navigation_horizontal_itemL1_disabled-text-default: var(--#{$prefix}-color-disabled-text);
//水平导航栏一级菜单项禁用态图标颜色
$color-navigation_horizontal_itemL1_disabled_icon-default: var(--#{$prefix}-color-disabled-text);
//水平导航栏一级菜单项禁用态背景颜色
$color-navigation_horizontal_itemL1_disabled-bg-default: transparent;
//导航栏子级菜单项背景颜色
$color-navigation_itemLn-bg-default: transparent;
//导航栏子级菜单项文字颜色
$color-navigation_itemLn-text-default: var(--#{$prefix}-color-text-0);
//导航栏子级菜单项悬浮态背景颜色
$color-navigation_itemLn-bg-hover: var(--#{$prefix}-color-fill-0);
//导航栏子级菜单项悬浮态文字颜色
$color-navigation_itemLn-text-hover: var(--#{$prefix}-color-text-0);
//导航栏子级菜单项按下态背景颜色
$color-navigation_itemLn-bg-active: var(--#{$prefix}-color-fill-1);
//导航栏子级菜单项按下态文字颜色
$color-navigation_itemLn-text-active: var(--#{$prefix}-color-text-0);
//导航栏子级菜单项选中态背景颜色
$color-navigation_itemLn_selected-bg-default: var(--#{$prefix}-color-primary-light-default);
//导航栏子级菜单键盘聚焦颜色
$color-navigation_outline-focus: var(--#{$prefix}-color-primary-light-active);

//侧边导航栏展开后宽度
$width-navigation_container_base: 240px;
//侧边导航栏收起后宽度
$width-navigation_container_collapsed: 60px;
//导航栏 logo 宽度
$width-navigation_header_logo: 36px;
//导航栏菜单项图标与标题间距
$width-navigation_icon_text_between: 12px;
//导航栏菜单项图标距左侧边距离
$width-navigation_icon_left: 20px;
//导航栏菜单项圆角
$width-navigation_item-borderRadius: var(--#{$prefix}-border-radius-small);
//导航栏菜单项下拉菜单最小宽度
$width-navigation_dropdown_item_nav_item-minWidth: 150px;
//导航栏描边宽度
$width-navigation_border: 1px;
//导航栏 footer 描边宽度
$width-navigation_footer_border: 1px;
//导航栏菜单项展开收起按钮最小宽度
$width-navigation_icon_left-minWidth: 20px;
//导航栏聚焦outline宽度
$width-navigation-outline: 2px;
//导航栏聚焦outline偏移
$width-navigation-outlineOffset: -2px;

//导航栏菜单项标题字重
$font-navigation_item-fontWeight: $font-weight-bold;
//导航栏菜单项副标题字重
$font-navigation_sub_title-fontWeight: $font-weight-bold;
//导航栏子级菜单项标题字重
$font-navigation_item_normal-fontWeight: $font-weight-regular;
//导航栏子级菜单项标题选中态字重
$font-navigation_popover_nav_item_selected-fontWeight: normal;
//导航栏菜单项标题选中态字重
$font-navigation_sub_selected-fontWeight: $font-weight-bold;
//导航栏菜单项标题禁用态字重
$font-navigation_sub_disabled-fontWeight: $font-weight-bold;
//导航栏子级菜单项标题字重
$font-navigation_sub-fontWeight: $font-weight-regular;
//导航栏子级菜单项标题字体大小
$font-navigation_sub-fontSize: $font-size-regular;
//导航栏子级菜单项标题字重
$font-navigation_sub_item-fontWeight: $font-weight-regular;
//导航栏 header 标题字重
$font-navigation_header_item-fontWeight: $font-weight-bold;
//侧边导航栏菜单项高度
$height-navigation_item_base: 36px;
//导航栏 logo 高度
$height-navigation_header_logo: 36px;
//导航栏 logo 收起后宽度
$height-navigation_header_logo_collapsed: 36px;
//侧边导航栏 footer 高度
$height-navigation_footer: 48px;
//顶部导航栏高度
$height-navigation_horizontal_header: 60px;
//导航栏菜单项标题收起时渐隐动画
$motion-navigation_item_title: opacity 100ms 100s ease-out;
//侧边导航栏收起左侧内边距动画
$motion-navigation_padding: padding-left 100ms ease-out;
//侧边导航栏收起右侧内边距(rtl)动画
$motion-navigation_padding_rtl: padding-right 100ms ease-out;
//侧边导航栏收起宽度动画
$motion-navigation_width: width 200ms cubic-bezier(0.62, 0.05, 0.36, 0.95);
//侧边导航栏收起渐隐动画
$motion-navigation_collapsed_opacity: opacity 0.2s cubic-bezier(0.5, -0.1, 1, 0.4);

//侧边导航栏水平方向内边距
$spacing-navigation-paddingX: $spacing-tight;
//侧边导航栏收起后水平方向内边距
$spacing-navigation_collapsed-paddingX: $spacing-tight;
//侧边导航栏菜单项水平方向内边距
$spacing-navigation_item-paddingX: $spacing-base-tight;
//侧边导航栏菜单项垂直方向内边距
$spacing-navigation_item-paddingY: $spacing-tight;
//侧边导航栏菜单项底部外边距
$spacing-navigation_item-marginBottom: $spacing-tight;
//侧边导航栏子级菜单项底部外边距
$spacing-navigation_sub_title-marginBottom: 0;
//侧边导航栏子级菜单组顶部外边距
$spacing-navigation_sub_wrap-marginTop: 0;
//侧边导航栏子级菜单组内边距
$spacing-navigation_sub_wrap-padding: 0;
//侧边导航栏子级菜单组内边距
$spacing-navigation_sub-padding: 0;
//侧边导航栏子级菜单项内边距
$spacing-navigation_item_sub-padding: 0;
//导航栏 logo 左侧外边距
$spacing-navigation_header_logo-marginLeft: 0;
//导航栏 logo 右侧外边距
$spacing-navigation_header_logo-marginRight: 8px;
//导航栏 header 顶部内边距
$spacing-navigation_header-paddingTop: 32px;
//导航栏 header 底部内边距
$spacing-navigation_header-paddingBottom: 36px;
//导航栏菜单项列表顶部内边距
$spacing-navigation_list_wrapper-paddingTop: 12px;
//导航栏 footer 水平方向内边距
$spacing-navigation_footer-paddingX: 24px;
//导航栏 footer 垂直方向内边距
$spacing-navigation_footer-paddingY: 16px;
//收起侧边栏按钮水平方向内边距
$spacing-navigation_footer_collapse_btn_inner-paddingX: 8px;
//顶部导航兰 logo 左侧外边距
$spacing-navigation_horizontal_header_logo-marginLeft: 24px;
//顶部导航兰 logo 右侧外边距
$spacing-navigation_horizontal_header_logo-marginRight: 24px;
//顶部导航兰左侧内边距
$spacing-navigation_horizontal-paddingLeft: 24px;
//顶部导航兰右侧内边距
$spacing-navigation_horizontal-paddingRight: 24px;
//导航栏下拉菜单标题水平方向内边距
$spacing-navigation_dropdown_item_nav_sub_title-paddingX: $spacing-base-tight;
//导航栏下拉菜单标题垂直方向内边距
$spacing-navigation_dropdown_item_nav_sub_title-paddingY: $spacing-tight;
//导航栏下拉菜单项顶部外边距
$spacing-navigation_dropdown_item_nav_item-marginTop: 0;
//导航栏下拉菜单项底部外边距
$spacing-navigation_dropdown_item_nav_item-marginBottom: 0;
//侧边导航栏下拉最后一个菜单项底部外边距
$spacing-navigation_vertical_nav_item_last-marginBottom: 0;
//侧边导航栏 header 左侧内边距
$spacing-navigation_vertical_nav_header-paddingLeft: (
    $width-navigation_container_collapsed - $spacing-navigation_collapsed-paddingX * 2 -
      $width-navigation_border - $height-navigation_header_logo_collapsed
  ) *
  0.5;
//侧边导航栏 header 右侧内边距
$spacing-navigation_vertical_nav_header-paddingRight: $spacing-tight;
//侧边导航栏收起后 header 左侧内边距
$spacing-navigation_vertical_nav_header_collapsed-paddingLeft: (
    $width-navigation_container_collapsed - $spacing-navigation_collapsed-paddingX * 2 -
      $width-navigation_border - $height-navigation_header_logo_collapsed
  ) *
  0.5;
//侧边导航栏收起后 header 右侧内边距
$spacing-navigation_vertical_nav_header_collapsed-paddingRight: 0;
//侧边导航栏 footer 左侧内边距
$spacing-navigation_vertical_footer-paddingLeft: $spacing-tight;
//侧边导航栏 footer 右侧内边距
$spacing-navigation_vertical_footer-paddingRight: $spacing-tight;
//收起侧边栏 按钮标题左侧外边距
$spacing-navigation_vertical_footer_semi_button_content_right-marginLeft: 12px;
//顶部导航栏菜单项底部外边距
$spacing-navigation_horizontal_nav_list_item-marginBottom: 0;
//顶部导航栏菜单项右侧外边距（非末位）
$spacing-navigation_horizontal_nav_list_item_not_last-marginRight: $spacing-tight;
//顶部导航栏菜单项首位图标右侧外边距
$spacing-navigation_horizontal_icon_first-marginRight: $spacing-tight;
//顶部导航栏菜单项末位图标左侧外边距
$spacing-navigation_horizontal_icon_last-marginLeft: $spacing-tight;
//顶部导航栏子级首位菜单项顶部外边距
$spacing-navigation_sub_item_first_child-marginTop: $spacing-tight;
//顶部导航栏菜单项末位图标右侧外边距
$spacing-navigation_sub_item_left_toggle_marginRight: $spacing-tight;

.#{$prefix}-navigation {
  box-sizing: border-box;
  display: inline-flex;
  width: $width-navigation_container_base;
  outline: none;
  overflow: hidden;
  margin: 0;
  padding-left: $spacing-navigation-paddingX;
  padding-right: $spacing-navigation-paddingX;
  -webkit-user-select: none;
  user-select: none;
  transition: $motion-navigation_padding, $motion-navigation_width;
  border-right: $width-navigation_border solid $color-navigation_border-default;
  background-color: $color-navigation-bg-default;
  &-collapsed {
    width: $width-navigation_container_collapsed;
    padding-left: $spacing-navigation_footer_collapse_btn_inner-paddingX;
    padding-right: $spacing-navigation_footer_collapse_btn_inner-paddingX;
    transition:
      padding-left 0.1s ease-out,
      width 0.2s cubic-bezier(0.62, 0.05, 0.36, 0.95);
  }
  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-vertical &-inner {
    flex-direction: column;
  }
  &-vertical &-header {
    padding: $spacing-navigation_header-paddingTop
      $spacing-navigation_vertical_nav_header-paddingRight $spacing-navigation_header-paddingBottom
      $spacing-navigation_vertical_nav_header-paddingLeft;
    width: 100%;
  }
  &-header {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    &-logo {
      margin-left: $spacing-navigation_header_logo-marginLeft;
      margin-right: $spacing-navigation_header_logo-marginRight;
      display: inline-flex;
    }
    &-text {
      font-size: $font-size-header-5;
      line-height: 24px;
      font-family: $font-family;
      font-weight: $font-weight-bold;
      display: inline-flex;
      color: $color-navigation_header-text-default;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: $motion-navigation_collapsed_opacity;
      opacity: 1;
    }
  }
  &-vertical &-footer {
    color: $color-navigation_footer_icon-default;
    padding-left: $spacing-navigation_vertical_footer-paddingLeft;
    padding-right: $spacing-navigation_vertical_footer-paddingRight;
  }
  &-vertical &-footer &-collapse-btn .#{$prefix}-button {
    padding-left: $spacing-navigation_footer_collapse_btn_inner-paddingX;
    padding-right: $spacing-navigation_footer_collapse_btn_inner-paddingX;
  }
  &-footer {
    box-sizing: border-box;
    padding: $spacing-navigation_footer-paddingY $spacing-navigation_footer-paddingX;
    display: inline-flex;
    align-items: center;
  }

  &-vertical &-list-wrapper {
    padding-top: $spacing-navigation_list_wrapper-paddingTop;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    & > .#{$prefix}-navigation-item {
      font-weight: $font-navigation_item-fontWeight;
    }
    & > .#{$prefix}-navigation-item-normal {
      height: $height-navigation_item_base;
    }
  }
  &-item:focus-visible,
  &-sub-title:focus-visible {
    outline: $width-navigation-outline solid $color-navigation_outline-focus;
    outline-offset: $width-navigation-outlineOffset;
  }
  &-item,
  &-sub-wrap &-sub-title {
    cursor: pointer;
    display: flex;
    border-radius: $width-navigation_item-borderRadius;
    padding: $spacing-navigation_item-paddingY $spacing-navigation_item-paddingX;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: $spacing-navigation_item-marginBottom;
    font-size: $font-size-regular;
    line-height: 20px;
    font-family: $font-family;
    font-weight: $font-navigation_item_normal-fontWeight;
    color: $color-navigation_itemL1-text-default;
    width: 100%;
    transition: background-color $transition_duration-navigation_itemL1-bg
      $transition_function-navigation_itemL1-bg $transition_delay-navigation_itemL1-bg;
  }
  &-list > &-item {
    font-weight: $font-navigation_item-fontWeight;
  }
  &-list > &-item > &-sub-title {
    font-weight: $font-navigation_sub_title-fontWeight;
  }

  &-item {
    &-normal {
      &:hover:not(.#{$prefix}-navigation-item-selected) {
        background-color: $color-navigation_itemL1-bg-hover;
        color: $color-navigation_itemL1-text-hover;
        .#{$prefix}-navigation-item-icon:first-child {
          color: $color-navigation_itemL1-icon-hover;
        }
      }
      &:hover.#{$prefix}-navigation-item-selected {
        color: $color-navigation_itemL1_selected-text-hover;
        background-color: $color-navigation_itemL1-bg-hover;
      }
      &:active:not(.#{$prefix}-navigation-item-selected) {
        background-color: $color-navigation_itemL1-bg-active;
        color: $color-navigation_itemL1-text-active;
        .#{$prefix}-navigation-item-icon:first-child {
          color: $color-navigation_itemL1-icon-active;
        }
      }
      &:active.#{$prefix}-navigation-item-selected {
        color: $color-navigation_itemL1_selected-text-active;
        background-color: $color-navigation_itemL1-bg-active;
      }
    }
    &.#{$prefix}-navigation-item-selected {
      background-color: $color-navigation_itemL1_selected-bg-default;
      color: $color-navigation_itemL1_selected-text-default;
      &:hover {
        background-color: $color-navigation_itemL1_selected-bg-default;
        color: $color-navigation_itemL1_selected-text-default;
      }
      &-active {
        background-color: $color-navigation_itemL1_selected-bg-default;
        color: $color-navigation_itemL1_selected-text-default;
      }
    }
    &-icon {
      & > svg {
        font-size: 20px;
      }
      &-rotate-0 {
        transition: transform 0.2s ease-in-out;
        transform: rotate(0);
      }
      &-rotate-180 {
        transition: transform 0.2s ease-in-out;
        transform: var(--#{$prefix}-transform_rotate-clockwise180deg);
      }
    }
    &-icon-info {
      margin-left: 0;
    }
    &-icon-info,
    &-icon-toggle-left {
      display: inline-flex;
      color: $color-navigation_horizontal_itemL1_icon-default;
      margin-right: $width-navigation_icon_text_between;
      min-width: $width-navigation_icon_left-minWidth;
    }
    &-icon-toggle-right {
      display: inline-flex;
      color: $color-navigation_horizontal_itemL1_icon-default;
      margin-left: auto;
      transition: $motion-navigation_collapsed_opacity;
      opacity: 1;
    }
  }
  &-item-text,
  &-sub-wrap &-sub-title-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: $motion-navigation_collapsed_opacity;
    opacity: 1;
  }
  &-sub-wrap {
    display: block;
    padding: $spacing-navigation_sub_wrap-padding;
    margin-top: $spacing-navigation_sub_wrap-marginTop;
    height: inherit;
  }
  &-sub {
    font-weight: $font-navigation_sub-fontWeight;
    font-size: $font-navigation_sub-fontSize;
    list-style: none;
    outline: none;
    padding: $spacing-navigation_sub-padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-sub &-item {
    color: $color-navigation_itemLn-text-default;
    background-color: $color-navigation_itemLn-bg-default;
    height: $height-navigation_item_base;
    font-weight: $font-navigation_sub_item-fontWeight;
    width: 100%;
    &:hover.#{$prefix}-navigation-item-selected {
      color: $color-navigation_itemLn-text-default;
      background-color: $color-navigation_itemLn_selected-bg-default;
    }
    &:active.#{$prefix}-navigation-item-selected {
      color: $color-navigation_itemLn-text-default;
      background-color: $color-navigation_itemLn_selected-bg-default;
    }
    &:first-child {
      margin-top: $spacing-navigation_item-marginBottom;
    }
  }
  &-sub &-item-selected {
    color: $color-navigation_itemLn-text-default;
    background-color: $color-navigation_itemLn_selected-bg-default;
  }
  &-sub &-sub-wrap {
    height: inherit;
  }
  &-sub-title {
    display: flex;
    justify-content: flex-start;
    height: $height-navigation_item_base;
    align-items: center;
  }
  &-sub-title {
    color: $color-navigation_itemL1-text-default;
    background-color: $color-navigation_itemL1-bg-default;
  }
  & &-sub-title {
    margin-bottom: $spacing-navigation_sub_title-marginBottom;
  }
  // 1级
  &-list &-sub-wrap > &-sub-title:hover {
    &:not(.#{$prefix}-navigation-sub-title-selected) {
      color: $color-navigation_itemL1-text-hover;
      background-color: $color-navigation_itemL1-bg-hover;
    }
    &.#{$prefix}-navigation-sub-title-selected {
      color: $color-navigation_itemL1_selected-text-hover;
      background-color: $color-navigation_itemL1-bg-hover;
    }
  }
  &-list &-sub-wrap > &-sub-title:active:not(.#{$prefix}-navigation-sub-title-selected) {
    &:not(.#{$prefix}-navigation-sub-title-selected) {
      color: $color-navigation_itemL1-text-active;
      background-color: $color-navigation_itemL1-bg-active;
    }
    &.#{$prefix}-navigation-sub-title-selected {
      color: $color-navigation_itemL1_selected-text-active;
      background-color: $color-navigation_itemL1-bg-active;
    }
  }
  &-item-inner {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 0 auto;
  }
}
.#{$prefix}-dropdown-item.#{$prefix}-navigation-item {
  min-width: $width-navigation_dropdown_item_nav_item-minWidth;
  margin-bottom: $spacing-navigation_dropdown_item_nav_item-marginBottom;
  margin-top: $spacing-navigation_dropdown_item_nav_item-marginTop;
}
.#{$prefix}-dropdown-item {
  .#{$prefix}-navigation-item,
  .#{$prefix}-navigation-sub-title {
    margin-bottom: 0;
    padding: 0;
    height: inherit;
  }
}
