@import '../base/constant';

//单个伸缩框中上下handler的高度
$height-row-handler: 10px;
//单个伸缩框中边角handler的高度
$height-edge-handler: 20px;
//组合伸缩框中垂直方向handler的高度
$height-vertical-handler: 10px;

//单个伸缩框中左右handler的宽度
$width-col-handler: 10px;
//单个伸缩框中边角handler的宽度
$width-edge-handler: 20px;
//组合伸缩框中水平方向handler的宽度
$width-horizontal-handler: 10px;

//伸缩框组件中handler的z-index
$z-resizable_handler: 2000 !default;
//伸缩框组件中背景的z-index
$z-resizable_background: 2010;

$directions: (
  top: (
    width: 100%,
    height: 10px,
    left: 0,
    cursor: row-resize,
    top: -5px
  ),
  right: (
    width: 10px,
    height: 100%,
    top: 0,
    cursor: col-resize,
    left: auto,
    right: -5px
  ),
  bottom: (
    width: 100%,
    height: 10px,
    left: 0,
    cursor: row-resize,
    top: auto,
    bottom: -5px
  ),
  left: (
    width: 10px,
    height: 100%,
    top: 0,
    cursor: col-resize,
    left: -5px
  ),
  topRight: (
    width: 20px,
    height: 20px,
    right: -10px,
    top: -10px,
    cursor: ne-resize
  ),
  topLeft: (
    width: 20px,
    height: 20px,
    left: -10px,
    top: -10px,
    cursor: nw-resize
  ),
  bottomRight: (
    width: 20px,
    height: 20px,
    right: -10px,
    bottom: -10px,
    cursor: se-resize
  ),
  bottomLeft: (
    width: 20px,
    height: 20px,
    left: -10px,
    bottom: -10px,
    cursor: sw-resize
  )
);

.#{$prefix}-resizable {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;

  &-handle {
    position: absolute;
    user-select: none;
    z-index: $z-resizable_handler;
    @each $name, $value in $directions {
      &-#{$name} {
        @each $key, $val in $value {
          #{$key}: $val;
        }
      }
    }
  }

  // 组合group
  &-group {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    &-vertical {
      flex-direction: column;
    }
    &-horizontal {
      flex-direction: row;
    }
  }

  &-item {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  &-handler {
    user-select: none;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--#{$prefix}-color-fill-0);
    opacity: 1;

    &-vertical {
      width: 100%;
      height: 10px;
      flex-shrink: 0;
      cursor: row-resize;
    }
    &-horizontal {
      height: 100%;
      width: 10px;
      flex-shrink: 0;
      cursor: col-resize;
    }
  }
}
