@import '../base/constant';

$animation_duration-toast-show: 300ms;
$animation_duration-toast-hide: 300ms;
$animation_function-toast-show: cubic-bezier(0.22, 0.57, 0.02, 1.2);
$animation_function-toast-hide: cubic-bezier(0.22, 0.57, 0.02, 1.2);
$animation_delay-toast-show: 0s;
$animation_delay-toast-hide: 0s;
$animation_opacity-toast-show: 1;
$animation_opacity-toast-hide: 0;
$animation_transform_translateY-toast-show: -100%;
$animation_transform_translateY-toast-hide: -100%;
$animation_duration-toast-stack: 300ms;
$animation_function-toast-stack: cubic-bezier(0.22, 0.57, 0.02, 1.2);

//colors
//提示背景颜色 - 默认
$color-toast-bg-default: var(--#{$prefix}-color-bg-3);
//提示文字颜色 - 默认
$color-toast-text-default: var(--#{$prefix}-color-text-0);
//警告提示图标颜色
$color-toast_warning-icon: var(--#{$prefix}-color-warning);
//成功提示图标颜色
$color-toast_success-icon: var(--#{$prefix}-color-success);
//通知提示图标颜色
$color-toast_info-icon: var(--#{$prefix}-color-info);
//错误提示图标颜色
$color-toast_danger-icon: var(--#{$prefix}-color-danger);

//多色样式 警告提示背景颜色
$color-toast_warning_light-bg: var(--#{$prefix}-color-warning-light-default);
//多色样式 警告提示图标颜色
$color-toast_warning_light-icon: $color-toast_warning-icon;
//多色样式 警告提示描边颜色
$color-toast_warning_light-border: var(--#{$prefix}-color-warning);
//多色样式 成功提示背景颜色
$color-toast_success_light-bg: var(--#{$prefix}-color-success-light-default);
//多色样式 成功提示图标颜色
$color-toast_success_light-icon: $color-toast_success-icon;
//多色样式 成功提示描边颜色
$color-toast_success_light-border: var(--#{$prefix}-color-success);
//多色样式 通知提示背景颜色
$color-toast_info_light-bg: var(--#{$prefix}-color-info-light-default);
//多色样式 通知提示图标颜色
$color-toast_info_light-icon: $color-toast_info-icon;
//多色样式 通知提示描边颜色
$color-toast_info_light-border: var(--#{$prefix}-color-info);
//多色样式 错误提示背景颜色
$color-toast_danger_light-bg: var(--#{$prefix}-color-danger-light-default);
//多色样式 错误提示图标颜色
$color-toast_danger_light-icon: $color-toast_danger-icon;
//多色样式 错误提示描边颜色
$color-toast_danger_light-border: var(--#{$prefix}-color-danger);

//通知文本字重
$font-toast_content-fontWeight: $font-weight-bold;
//通知圆角
$radius-toast_content: var(--#{$prefix}-border-radius-medium);

//通知容器顶部位置
$spacing-toast_wrapper-top: 0;
//通知内容垂直内边距
$spacing-toast_content-paddingY: $spacing-base-tight;
//通知内容水平内边距
$spacing-toast_content-paddingX: $spacing-tight;
//通知内容 top 内边距
$spacing-toast_content-paddingTop: $spacing-toast_content-paddingY;
//通知内容 bottom 内边距
$spacing-toast_content-paddingBottom: $spacing-toast_content-paddingY;
//通知内容 left 内边距
$spacing-toast_content-paddingLeft: $spacing-toast_content-paddingX;
//通知内容 right 内边距
$spacing-toast_content-paddingRight: $spacing-toast_content-paddingX;
//通知内容外边距
$spacing-toast_content-margin: $spacing-base-tight;
//通知关闭按钮顶部外边距
$spacing-toast_content_close_btn-marginTop: -2px;
//通知文本左侧外边距
$spacing-toast_content_text-marginLeft: $spacing-base-tight;
//通知文本右侧外边距
$spacing-toast_content_text-marginRight: $spacing-base-tight;
//通知透视原点 Y 轴位置
$spacing-toast-perspective-originY: 280px;
//通知透视距离
$spacing-toast-perspective: 280px;

//通知容器整体宽度
$width-toast_wrapper: 100%;
//多色样式 通知描边宽度
$width-toast_light-border: 1px;

.#{$prefix}-toast-wrapper {
  position: fixed;
  height: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: $z-toast;
  &-inner {
    width: fit-content;
    height: fit-content;
    text-align: center;
  }
}

@keyframes #{$prefix}-toast-keyframe-toast-show {
  0% {
    opacity: $animation_opacity-toast-hide;
    transform: translateY($animation_transform_translateY-toast-show);
  }

  to {
    opacity: $animation_opacity-toast-show;
  }
}

@keyframes #{$prefix}-toast-keyframe-toast-hide {
  0% {
    opacity: $animation_opacity-toast-show;
  }

  to {
    opacity: $animation_opacity-toast-hide;
    transform: translateY($animation_transform_translateY-toast-hide);
  }
}

$types: (
  'success': (
    iconColor: $color-toast_success-icon,
    bg: $color-toast_success_light-bg,
    border: $color-toast_success_light-border
  ),
  'info': (
    iconColor: $color-toast_info-icon,
    bg: $color-toast_info_light-bg,
    border: $color-toast_info_light-border
  ),
  'warning': (
    iconColor: $color-toast_warning-icon,
    bg: $color-toast_warning_light-bg,
    border: $color-toast_warning_light-border
  ),
  'error': (
    iconColor: $color-toast_danger-icon,
    bg: $color-toast_danger_light-bg,
    border: $color-toast_danger_light-border
  )
);

.#{$prefix}-toast {
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.22, 0.57, 0.02, 1.2);
  perspective-origin: center 280px;
  perspective: 280px;
  &-animation-show {
    animation: #{$prefix}-toast-keyframe-toast-show $animation_duration-toast-show
      $animation_function-toast-show $animation_delay-toast-show;
    animation-fill-mode: forwards;
  }

  &-animation-hide {
    animation: #{$prefix}-toast-keyframe-toast-hide $animation_duration-toast-hide
      $animation_function-toast-hide $animation_delay-toast-hide;
    animation-fill-mode: forwards;
  }

  @each $type, $properties in $types {
    &-icon-#{$type} {
      color: map-get($properties, iconColor);
    }
    .#{$prefix}-toast-light.#{$prefix}-toast-#{$type} &-content {
      background-color: map-get($properties, bg);
      border: $width-toast_light-border solid map-get($properties, border);
    }
  }
  &-zero-height-wrapper {
    transition: all $animation_duration-toast-stack $animation_function-toast-stack;
    perspective-origin: center 280px;
    perspective: 280px;
    height: 0;
    overflow: visible;
  }

  &-content {
    pointer-events: all;
    box-shadow: var(--#{$prefix}-shadow-elevated);
    font-size: $font-size-regular;
    line-height: 20px;
    font-family: $font-family;
    background-color: $color-toast-bg-default;
    border-radius: $radius-toast_content;
    padding: $spacing-toast_content-paddingY $spacing-toast_content-paddingX;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    margin: $spacing-toast_content-margin;
    font-weight: $font-weight-bold;
    color: $color-toast-text-default;
  }
  &-text {
    margin-left: $spacing-toast_content_text-marginLeft;
    margin-right: $spacing-toast_content_text-marginRight;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  &-close-button {
    margin-top: $spacing-toast_content_close_btn-marginTop;
    height: 20px;
  }
}
