@import '../base/constant';
.#{$prefix}-tooltip {
  &-wrapper {
    transform-origin: calc(100% - 86px) 0%;
    animation-fill-mode: forwards;
    position: relative;
    background-color: rgba(var(--#{$prefix}-grey-7), 1);
    color: var(--#{$prefix}-color-bg-0);
    border-radius: var(--#{$prefix}-border-radius-medium);
    padding: 8px 12px;
    left: 0;
    top: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      PingFang SC,
      Hiragino Sans GB,
      Microsoft YaHei,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    // opacity: 0;
    max-width: 240px;
  }
  &-content {
    min-width: 0;
  }
  &-arrow {
    height: 7px;
    width: 24px;
    position: absolute;
    color: rgba(var(--#{$prefix}-grey-7), 1);
  }
  //top, topLeft, topRight, left, leftTop, leftBottom, right, rightTop, rightBottom, bottom, bottomLeft, bottomRight
  &-top {
    &-arrow {
      left: 50%;
      transform: translateX(-50%);
      bottom: -6px;
    }
  }
  &-topLeft {
    &-arrow {
      bottom: -6px;
      left: 6px;
    }
  }
  &-topRight {
    &-arrow {
      bottom: -6px;
      right: 6px;
    }
  }

  &-left {
    &-arrow {
      width: 8px;
      height: 24px;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-leftTop {
    &-arrow {
      width: 8px;
      height: 24px;
      right: -7px;
      top: 6px;
    }
  }
  &-leftBottom {
    &-arrow {
      width: 8px;
      height: 24px;
      right: -7px;
      bottom: 6px;
    }
  }
  &-leftTop {
    &-arrow {
      width: 8px;
      height: 24px;
      left: -7px;
      top: 6px;
      transform: rotate(180deg);
    }
  }

  &-right {
    &-arrow {
      width: 8px;
      height: 24px;
      left: -7px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &-rightTop {
    &-arrow {
      width: 8px;
      height: 24px;
      left: -7px;
      top: 6px;
      transform: rotate(180deg);
    }
  }
  &-rightBottom {
    &-arrow {
      width: 8px;
      height: 24px;
      left: -7px;
      bottom: 6px;
      transform: rotate(180deg);
    }
  }

  &-bottom {
    &-arrow {
      top: -7px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
    }
  }
  &-bottomLeft {
    &-arrow {
      top: -7px;
      left: 6px;
      transform: rotate(180deg);
    }
  }
  &-bottomRight {
    &-arrow {
      right: 6px;
      top: -7px;
      transform: rotate(180deg);
    }
  }
}
@keyframes #{$prefix}-tooltip-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
  }
}
@keyframes #{$prefix}-tooltip-zoomOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.#{$prefix}-tooltip-animation-show {
  animation: #{$prefix}-tooltip-zoomIn 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}
.#{$prefix}-tooltip-animation-hide {
  animation: #{$prefix}-tooltip-zoomOut 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}
