.wave-effect {
  @keyframes playEffect {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    50% {
      opacity: 1;
      transform: scale(1.17, 1.5);
    }
    100% {
      opacity: 0;
      transform: scale(1.17, 1.5);
    }
  }
  transform-origin: center center;
  animation: playEffect 0.6s;
}
