@keyframes playEffect {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 1;
    transform: scale(var(--scale-x), var(--scale-y));
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-x), var(--scale-y));
  }
}
.wave-effect {
  transform: scale(0);
  transform-origin: center center;
  animation: playEffect 0.4s ease-in;
}
