$prefix: 'tempui';

//font
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-header-6: 16px;
$font-size-header-5: 18px;
$font-size-header-4: 20px;
$font-size-header-3: 24px;
$font-size-header-2: 28px;
$font-size-header-1: 32px;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-family:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'PingFang SC',
  'Hiragino Sans GB',
  'Microsoft YaHei',
  'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;

$font-family-regular:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI';

//height
//表单项高度 - 小尺寸
$height-control-small: 24px;
//表单项高度 - 默认尺寸
$height-control-default: 32px;
//表单项高度 - 大尺寸
$height-control-large: 40px;

$border-thickness: 0;
$border-thickness-control: 1px;
$border-thickness-control-focus: 1px;

$width-icon-extra-small: 8px;
$width-icon-small: 12px;
$width-icon-medium: 16px;
$width-icon-large: 20px;
$width-icon-extra-large: 24px;

$spacing-none: 0;
//间距 - 极紧凑尺寸内/外边距
$spacing-super-tight: 2px;
//间距 - 超紧凑尺寸内/外边距
$spacing-extra-tight: 4px;
//间距 - 紧凑尺寸内/外边距
$spacing-tight: 8px;
//间距 - 默认（偏紧凑）尺寸内/外边距
$spacing-base-tight: 12px;
//间距 - 默认尺寸内/外边距
$spacing-base: 16px;
//间距 - 默认（偏宽松）尺寸内/外边距
$spacing-base-loose: 20px;
//间距 - 宽松尺寸内/外边距
$spacing-loose: 24px;
//间距 - 超宽松尺寸内/外边距
$spacing-extra-loose: 32px;
//间距 - 极宽松尺寸内/外边距
$spacing-super-loose: 40px;

//抽象插槽，适用于未经特殊定制的所有组件
$z-portal: 1;
//固定位置的页面元素 z-index
$z-affix: 10;
//返回顶部 z-index
$z-backtop: 10;
//badge z-index
$z-badge: 10;
//table fixed column
$z-table-fixed: 101;
//modal z-index
$z-modal: 1000;
//modal 遮罩 z-index
$z-modal-mask: 1000;
//toast 组件 z-index
$z-toast: 1010;
//notification 组件 z-index
$z-notification: 1010;
//popover 组件 z-index
$z-popover: 1030;
//dropdown 组件 z-index
$z-dropdown: 1050;
//tooltip 组件 z-index
$z-tooltip: 1060;
//Image 组件预览层z-index
$z-image_preview: 1070;
//Image 组件预览层中 header 部分 z-index
$z-image_preview_header: 1;
//穿梭框右侧面板中正在拖拽元素的z-index
$z-transfer_right_item_drag_item_move: 2000;
//标签输入框中正在拖拽元素的z-index
$z-tagInput_drag_item_move: 2000;
//伸缩框组件中handler的z-index
$z-resizable_handler: 2000;
