@import './constant.scss';
body,
body[theme-mode='dark'] .#{$prefix}-always-light {
  --#{$prefix}-black: 0, 0, 0;
  --#{$prefix}-red-0: 255, 243, 238;
  --#{$prefix}-red-1: 255, 224, 211;
  --#{$prefix}-red-2: 255, 189, 166;
  --#{$prefix}-red-3: 255, 152, 122;
  --#{$prefix}-red-4: 255, 111, 77;
  --#{$prefix}-red-5: 255, 68, 33;
  --#{$prefix}-red-6: 219, 46, 22;
  --#{$prefix}-red-7: 184, 28, 13;
  --#{$prefix}-red-8: 148, 14, 6;
  --#{$prefix}-red-9: 112, 4, 1;
  --#{$prefix}-white: 255, 255, 255;
  --#{$prefix}-blue-0: 235, 246, 255;
  --#{$prefix}-blue-1: 204, 231, 255;
  --#{$prefix}-blue-2: 153, 205, 255;
  --#{$prefix}-blue-3: 102, 178, 255;
  --#{$prefix}-blue-4: 51, 149, 255;
  --#{$prefix}-blue-5: 0, 118, 255;
  --#{$prefix}-blue-6: 0, 98, 219;
  --#{$prefix}-blue-7: 0, 79, 184;
  --#{$prefix}-blue-8: 0, 61, 148;
  --#{$prefix}-blue-9: 0, 44, 112;
  --#{$prefix}-cyan-0: 230, 248, 249;
  --#{$prefix}-cyan-1: 196, 241, 243;
  --#{$prefix}-cyan-2: 141, 225, 232;
  --#{$prefix}-cyan-3: 91, 209, 220;
  --#{$prefix}-cyan-4: 46, 192, 209;
  --#{$prefix}-cyan-5: 5, 174, 197;
  --#{$prefix}-cyan-6: 3, 142, 164;
  --#{$prefix}-cyan-7: 1, 111, 131;
  --#{$prefix}-cyan-8: 0, 82, 99;
  --#{$prefix}-cyan-9: 0, 53, 66;
  --#{$prefix}-grey-0: 249, 249, 249;
  --#{$prefix}-grey-1: 230, 234, 234;
  --#{$prefix}-grey-2: 198, 205, 204;
  --#{$prefix}-grey-3: 167, 176, 175;
  --#{$prefix}-grey-4: 136, 146, 146;
  --#{$prefix}-grey-5: 107, 117, 117;
  --#{$prefix}-grey-6: 88, 97, 98;
  --#{$prefix}-grey-7: 70, 78, 78;
  --#{$prefix}-grey-8: 52, 58, 59;
  --#{$prefix}-grey-9: 34, 39, 39;
  --#{$prefix}-lime-0: 243, 252, 232;
  --#{$prefix}-lime-1: 227, 249, 199;
  --#{$prefix}-lime-2: 204, 243, 146;
  --#{$prefix}-lime-3: 185, 238, 95;
  --#{$prefix}-lime-4: 169, 232, 46;
  --#{$prefix}-lime-5: 157, 226, 0;
  --#{$prefix}-lime-6: 128, 188, 0;
  --#{$prefix}-lime-7: 100, 151, 0;
  --#{$prefix}-lime-8: 73, 113, 0;
  --#{$prefix}-lime-9: 47, 75, 0;
  --#{$prefix}-pink-0: 255, 238, 239;
  --#{$prefix}-pink-1: 254, 210, 216;
  --#{$prefix}-pink-2: 254, 165, 179;
  --#{$prefix}-pink-3: 253, 121, 146;
  --#{$prefix}-pink-4: 253, 76, 116;
  --#{$prefix}-pink-5: 252, 32, 89;
  --#{$prefix}-pink-6: 216, 21, 78;
  --#{$prefix}-pink-7: 181, 12, 67;
  --#{$prefix}-pink-8: 145, 5, 55;
  --#{$prefix}-pink-9: 109, 1, 43;
  --#{$prefix}-teal-0: 228, 247, 246;
  --#{$prefix}-teal-1: 192, 240, 236;
  --#{$prefix}-teal-2: 135, 225, 219;
  --#{$prefix}-teal-3: 84, 209, 204;
  --#{$prefix}-teal-4: 39, 194, 190;
  --#{$prefix}-teal-5: 0, 179, 177;
  --#{$prefix}-teal-6: 0, 148, 149;
  --#{$prefix}-teal-7: 0, 117, 119;
  --#{$prefix}-teal-8: 0, 86, 90;
  --#{$prefix}-teal-9: 0, 56, 60;
  --#{$prefix}-amber-0: 255, 254, 237;
  --#{$prefix}-amber-1: 255, 251, 208;
  --#{$prefix}-amber-2: 255, 243, 161;
  --#{$prefix}-amber-3: 255, 233, 115;
  --#{$prefix}-amber-4: 255, 219, 68;
  --#{$prefix}-amber-5: 255, 202, 21;
  --#{$prefix}-amber-6: 213, 158, 15;
  --#{$prefix}-amber-7: 170, 118, 11;
  --#{$prefix}-amber-8: 128, 82, 7;
  --#{$prefix}-amber-9: 85, 50, 4;
  --#{$prefix}-brand-0: 229, 249, 246;
  --#{$prefix}-brand-1: 194, 243, 237;
  --#{$prefix}-brand-2: 138, 230, 220;
  --#{$prefix}-brand-3: 87, 218, 206;
  --#{$prefix}-brand-4: 41, 205, 193;
  --#{$prefix}-brand-5: 0, 193, 182;
  --#{$prefix}-brand-6: 0, 161, 154;
  --#{$prefix}-brand-7: 0, 129, 126;
  --#{$prefix}-brand-8: 0, 97, 96;
  --#{$prefix}-brand-9: 0, 64, 64;
  --#{$prefix}-green-0: 236, 248, 237;
  --#{$prefix}-green-1: 209, 241, 211;
  --#{$prefix}-green-2: 166, 227, 172;
  --#{$prefix}-green-3: 127, 212, 138;
  --#{$prefix}-green-4: 92, 198, 107;
  --#{$prefix}-green-5: 61, 184, 80;
  --#{$prefix}-green-6: 49, 153, 67;
  --#{$prefix}-green-7: 38, 123, 54;
  --#{$prefix}-green-8: 28, 92, 41;
  --#{$prefix}-green-9: 18, 61, 27;
  --#{$prefix}-indigo-0: 238, 240, 249;
  --#{$prefix}-indigo-1: 211, 217, 243;
  --#{$prefix}-indigo-2: 171, 181, 231;
  --#{$prefix}-indigo-3: 134, 147, 220;
  --#{$prefix}-indigo-4: 99, 114, 208;
  --#{$prefix}-indigo-5: 68, 83, 196;
  --#{$prefix}-indigo-6: 56, 68, 176;
  --#{$prefix}-indigo-7: 45, 54, 155;
  --#{$prefix}-indigo-8: 35, 41, 135;
  --#{$prefix}-indigo-9: 26, 30, 114;
  --#{$prefix}-orange-0: 255, 250, 235;
  --#{$prefix}-orange-1: 255, 240, 204;
  --#{$prefix}-orange-2: 255, 222, 153;
  --#{$prefix}-orange-3: 255, 201, 102;
  --#{$prefix}-orange-4: 255, 176, 51;
  --#{$prefix}-orange-5: 255, 148, 0;
  --#{$prefix}-orange-6: 213, 113, 0;
  --#{$prefix}-orange-7: 170, 82, 0;
  --#{$prefix}-orange-8: 128, 55, 0;
  --#{$prefix}-orange-9: 85, 32, 0;
  --#{$prefix}-purple-0: 249, 234, 248;
  --#{$prefix}-purple-1: 242, 204, 241;
  --#{$prefix}-purple-2: 229, 158, 229;
  --#{$prefix}-purple-3: 213, 115, 216;
  --#{$prefix}-purple-4: 195, 76, 203;
  --#{$prefix}-purple-5: 176, 42, 190;
  --#{$prefix}-purple-6: 152, 32, 170;
  --#{$prefix}-purple-7: 129, 24, 149;
  --#{$prefix}-purple-8: 107, 17, 129;
  --#{$prefix}-purple-9: 86, 11, 108;
  --#{$prefix}-violet-0: 245, 238, 251;
  --#{$prefix}-violet-1: 230, 212, 247;
  --#{$prefix}-violet-2: 204, 171, 239;
  --#{$prefix}-violet-3: 178, 133, 231;
  --#{$prefix}-violet-4: 150, 97, 223;
  --#{$prefix}-violet-5: 122, 63, 215;
  --#{$prefix}-violet-6: 94, 47, 179;
  --#{$prefix}-violet-7: 69, 33, 144;
  --#{$prefix}-violet-8: 47, 22, 108;
  --#{$prefix}-violet-9: 28, 12, 72;
  --#{$prefix}-yellow-0: 255, 254, 235;
  --#{$prefix}-yellow-1: 255, 252, 204;
  --#{$prefix}-yellow-2: 255, 246, 153;
  --#{$prefix}-yellow-3: 255, 236, 102;
  --#{$prefix}-yellow-4: 255, 223, 51;
  --#{$prefix}-yellow-5: 255, 206, 0;
  --#{$prefix}-yellow-6: 213, 175, 0;
  --#{$prefix}-yellow-7: 170, 143, 0;
  --#{$prefix}-yellow-8: 128, 109, 0;
  --#{$prefix}-yellow-9: 85, 74, 0;
  --#{$prefix}-light-blue-0: 235, 248, 255;
  --#{$prefix}-light-blue-1: 204, 238, 255;
  --#{$prefix}-light-blue-2: 153, 219, 255;
  --#{$prefix}-light-blue-3: 102, 199, 255;
  --#{$prefix}-light-blue-4: 51, 177, 255;
  --#{$prefix}-light-blue-5: 0, 153, 255;
  --#{$prefix}-light-blue-6: 0, 128, 219;
  --#{$prefix}-light-blue-7: 0, 104, 184;
  --#{$prefix}-light-blue-8: 0, 81, 148;
  --#{$prefix}-light-blue-9: 0, 60, 112;
  --#{$prefix}-light-green-0: 244, 249, 237;
  --#{$prefix}-light-green-1: 229, 243, 211;
  --#{$prefix}-light-green-2: 203, 232, 170;
  --#{$prefix}-light-green-3: 178, 220, 132;
  --#{$prefix}-light-green-4: 154, 209, 97;
  --#{$prefix}-light-green-5: 130, 197, 65;
  --#{$prefix}-light-green-6: 106, 164, 53;
  --#{$prefix}-light-green-7: 82, 131, 41;
  --#{$prefix}-light-green-8: 60, 99, 30;
  --#{$prefix}-light-green-9: 39, 66, 19;
}

body[theme-mode='dark'],
body .#{$prefix}-always-dark {
  --#{$prefix}-black: 0, 0, 0;
  --#{$prefix}-red-0: 112, 4, 1;
  --#{$prefix}-red-1: 148, 14, 6;
  --#{$prefix}-red-2: 184, 28, 13;
  --#{$prefix}-red-3: 219, 46, 22;
  --#{$prefix}-red-4: 255, 68, 33;
  --#{$prefix}-red-5: 255, 111, 77;
  --#{$prefix}-red-6: 255, 152, 122;
  --#{$prefix}-red-7: 255, 189, 166;
  --#{$prefix}-red-8: 255, 224, 211;
  --#{$prefix}-red-9: 255, 243, 238;
  --#{$prefix}-white: 255, 255, 255;
  --#{$prefix}-blue-0: 0, 44, 112;
  --#{$prefix}-blue-1: 0, 61, 148;
  --#{$prefix}-blue-2: 0, 79, 184;
  --#{$prefix}-blue-3: 0, 98, 219;
  --#{$prefix}-blue-4: 0, 118, 255;
  --#{$prefix}-blue-5: 51, 149, 255;
  --#{$prefix}-blue-6: 102, 178, 255;
  --#{$prefix}-blue-7: 153, 205, 255;
  --#{$prefix}-blue-8: 204, 231, 255;
  --#{$prefix}-blue-9: 235, 246, 255;
  --#{$prefix}-cyan-0: 0, 53, 66;
  --#{$prefix}-cyan-1: 0, 82, 99;
  --#{$prefix}-cyan-2: 1, 111, 131;
  --#{$prefix}-cyan-3: 3, 142, 164;
  --#{$prefix}-cyan-4: 5, 174, 197;
  --#{$prefix}-cyan-5: 46, 192, 209;
  --#{$prefix}-cyan-6: 91, 209, 220;
  --#{$prefix}-cyan-7: 141, 225, 232;
  --#{$prefix}-cyan-8: 196, 241, 243;
  --#{$prefix}-cyan-9: 230, 248, 249;
  --#{$prefix}-grey-0: 34, 39, 39;
  --#{$prefix}-grey-1: 52, 58, 59;
  --#{$prefix}-grey-2: 70, 78, 78;
  --#{$prefix}-grey-3: 88, 97, 98;
  --#{$prefix}-grey-4: 107, 117, 117;
  --#{$prefix}-grey-5: 136, 146, 146;
  --#{$prefix}-grey-6: 167, 176, 175;
  --#{$prefix}-grey-7: 198, 205, 204;
  --#{$prefix}-grey-8: 230, 234, 234;
  --#{$prefix}-grey-9: 249, 249, 249;
  --#{$prefix}-lime-0: 47, 75, 0;
  --#{$prefix}-lime-1: 73, 113, 0;
  --#{$prefix}-lime-2: 100, 151, 0;
  --#{$prefix}-lime-3: 128, 188, 0;
  --#{$prefix}-lime-4: 157, 226, 0;
  --#{$prefix}-lime-5: 169, 232, 46;
  --#{$prefix}-lime-6: 185, 238, 95;
  --#{$prefix}-lime-7: 204, 243, 146;
  --#{$prefix}-lime-8: 227, 249, 199;
  --#{$prefix}-lime-9: 243, 252, 232;
  --#{$prefix}-pink-0: 109, 1, 43;
  --#{$prefix}-pink-1: 145, 5, 55;
  --#{$prefix}-pink-2: 181, 12, 67;
  --#{$prefix}-pink-3: 216, 21, 78;
  --#{$prefix}-pink-4: 252, 32, 89;
  --#{$prefix}-pink-5: 253, 76, 116;
  --#{$prefix}-pink-6: 253, 121, 146;
  --#{$prefix}-pink-7: 254, 165, 179;
  --#{$prefix}-pink-8: 254, 210, 216;
  --#{$prefix}-pink-9: 255, 238, 239;
  --#{$prefix}-teal-0: 0, 56, 60;
  --#{$prefix}-teal-1: 0, 86, 90;
  --#{$prefix}-teal-2: 0, 117, 119;
  --#{$prefix}-teal-3: 0, 148, 149;
  --#{$prefix}-teal-4: 0, 179, 177;
  --#{$prefix}-teal-5: 39, 194, 190;
  --#{$prefix}-teal-6: 84, 209, 204;
  --#{$prefix}-teal-7: 135, 225, 219;
  --#{$prefix}-teal-8: 192, 240, 236;
  --#{$prefix}-teal-9: 228, 247, 246;
  --#{$prefix}-amber-0: 85, 50, 4;
  --#{$prefix}-amber-1: 128, 82, 7;
  --#{$prefix}-amber-2: 170, 118, 11;
  --#{$prefix}-amber-3: 213, 158, 15;
  --#{$prefix}-amber-4: 255, 202, 21;
  --#{$prefix}-amber-5: 255, 219, 68;
  --#{$prefix}-amber-6: 255, 233, 115;
  --#{$prefix}-amber-7: 255, 243, 161;
  --#{$prefix}-amber-8: 255, 251, 208;
  --#{$prefix}-amber-9: 255, 254, 237;
  --#{$prefix}-brand-0: 0, 64, 64;
  --#{$prefix}-brand-1: 0, 97, 96;
  --#{$prefix}-brand-2: 0, 129, 126;
  --#{$prefix}-brand-3: 0, 161, 154;
  --#{$prefix}-brand-4: 0, 193, 182;
  --#{$prefix}-brand-5: 41, 205, 193;
  --#{$prefix}-brand-6: 87, 218, 206;
  --#{$prefix}-brand-7: 138, 230, 220;
  --#{$prefix}-brand-8: 194, 243, 237;
  --#{$prefix}-brand-9: 229, 249, 246;
  --#{$prefix}-green-0: 18, 61, 27;
  --#{$prefix}-green-1: 28, 92, 41;
  --#{$prefix}-green-2: 38, 123, 54;
  --#{$prefix}-green-3: 49, 153, 67;
  --#{$prefix}-green-4: 61, 184, 80;
  --#{$prefix}-green-5: 92, 198, 107;
  --#{$prefix}-green-6: 127, 212, 138;
  --#{$prefix}-green-7: 166, 227, 172;
  --#{$prefix}-green-8: 209, 241, 211;
  --#{$prefix}-green-9: 236, 248, 237;
  --#{$prefix}-indigo-0: 26, 30, 114;
  --#{$prefix}-indigo-1: 35, 41, 135;
  --#{$prefix}-indigo-2: 45, 54, 155;
  --#{$prefix}-indigo-3: 56, 68, 176;
  --#{$prefix}-indigo-4: 68, 83, 196;
  --#{$prefix}-indigo-5: 99, 114, 208;
  --#{$prefix}-indigo-6: 134, 147, 220;
  --#{$prefix}-indigo-7: 171, 181, 231;
  --#{$prefix}-indigo-8: 211, 217, 243;
  --#{$prefix}-indigo-9: 238, 240, 249;
  --#{$prefix}-orange-0: 85, 32, 0;
  --#{$prefix}-orange-1: 128, 55, 0;
  --#{$prefix}-orange-2: 170, 82, 0;
  --#{$prefix}-orange-3: 213, 113, 0;
  --#{$prefix}-orange-4: 255, 148, 0;
  --#{$prefix}-orange-5: 255, 176, 51;
  --#{$prefix}-orange-6: 255, 201, 102;
  --#{$prefix}-orange-7: 255, 222, 153;
  --#{$prefix}-orange-8: 255, 240, 204;
  --#{$prefix}-orange-9: 255, 250, 235;
  --#{$prefix}-purple-0: 86, 11, 108;
  --#{$prefix}-purple-1: 107, 17, 129;
  --#{$prefix}-purple-2: 129, 24, 149;
  --#{$prefix}-purple-3: 152, 32, 170;
  --#{$prefix}-purple-4: 176, 42, 190;
  --#{$prefix}-purple-5: 195, 76, 203;
  --#{$prefix}-purple-6: 213, 115, 216;
  --#{$prefix}-purple-7: 229, 158, 229;
  --#{$prefix}-purple-8: 242, 204, 241;
  --#{$prefix}-purple-9: 249, 234, 248;
  --#{$prefix}-violet-0: 28, 12, 72;
  --#{$prefix}-violet-1: 47, 22, 108;
  --#{$prefix}-violet-2: 69, 33, 144;
  --#{$prefix}-violet-3: 94, 47, 179;
  --#{$prefix}-violet-4: 122, 63, 215;
  --#{$prefix}-violet-5: 150, 97, 223;
  --#{$prefix}-violet-6: 178, 133, 231;
  --#{$prefix}-violet-7: 204, 171, 239;
  --#{$prefix}-violet-8: 230, 212, 247;
  --#{$prefix}-violet-9: 245, 238, 251;
  --#{$prefix}-yellow-0: 85, 74, 0;
  --#{$prefix}-yellow-1: 128, 109, 0;
  --#{$prefix}-yellow-2: 170, 143, 0;
  --#{$prefix}-yellow-3: 213, 175, 0;
  --#{$prefix}-yellow-4: 255, 206, 0;
  --#{$prefix}-yellow-5: 255, 223, 51;
  --#{$prefix}-yellow-6: 255, 236, 102;
  --#{$prefix}-yellow-7: 255, 246, 153;
  --#{$prefix}-yellow-8: 255, 252, 204;
  --#{$prefix}-yellow-9: 255, 254, 235;
  --#{$prefix}-light-blue-0: 0, 60, 112;
  --#{$prefix}-light-blue-1: 0, 81, 148;
  --#{$prefix}-light-blue-2: 0, 104, 184;
  --#{$prefix}-light-blue-3: 0, 128, 219;
  --#{$prefix}-light-blue-4: 0, 153, 255;
  --#{$prefix}-light-blue-5: 51, 177, 255;
  --#{$prefix}-light-blue-6: 102, 199, 255;
  --#{$prefix}-light-blue-7: 153, 219, 255;
  --#{$prefix}-light-blue-8: 204, 238, 255;
  --#{$prefix}-light-blue-9: 235, 248, 255;
  --#{$prefix}-light-green-0: 39, 66, 19;
  --#{$prefix}-light-green-1: 60, 99, 30;
  --#{$prefix}-light-green-2: 82, 131, 41;
  --#{$prefix}-light-green-3: 106, 164, 53;
  --#{$prefix}-light-green-4: 130, 197, 65;
  --#{$prefix}-light-green-5: 154, 209, 97;
  --#{$prefix}-light-green-6: 178, 220, 132;
  --#{$prefix}-light-green-7: 203, 232, 170;
  --#{$prefix}-light-green-8: 229, 243, 211;
  --#{$prefix}-light-green-9: 244, 249, 237;
}

body,
body[theme-mode='dark'] .#{$prefix}-always-light {
  --#{$prefix}-color-bg-0: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-bg-1: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-bg-2: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-bg-3: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-bg-4: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-info: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-link: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-nav-bg: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-black: rgba(var(--#{$prefix}-black), 1);
  --#{$prefix}-color-data-0: rgba(87, 105, 255, 1);
  --#{$prefix}-color-data-1: rgba(142, 212, 231, 1);
  --#{$prefix}-color-data-2: rgba(245, 135, 0, 1);
  --#{$prefix}-color-data-3: rgba(220, 183, 252, 1);
  --#{$prefix}-color-data-4: rgba(74, 156, 247, 1);
  --#{$prefix}-color-data-5: rgba(243, 204, 53, 1);
  --#{$prefix}-color-data-6: rgba(254, 128, 144, 1);
  --#{$prefix}-color-data-7: rgba(139, 215, 210, 1);
  --#{$prefix}-color-data-8: rgba(131, 176, 35, 1);
  --#{$prefix}-color-data-9: rgba(233, 165, 229, 1);
  --#{$prefix}-color-fill-0: rgba(var(--#{$prefix}-grey-8), 0.05);
  --#{$prefix}-color-fill-1: rgba(var(--#{$prefix}-grey-8), 0.09);
  --#{$prefix}-color-fill-2: rgba(var(--#{$prefix}-grey-8), 0.13);
  --#{$prefix}-color-text-0: rgba(var(--#{$prefix}-grey-9), 1);
  --#{$prefix}-color-text-1: rgba(var(--#{$prefix}-grey-9), 0.8);
  --#{$prefix}-color-text-2: rgba(var(--#{$prefix}-grey-9), 0.6);
  --#{$prefix}-color-text-3: rgba(var(--#{$prefix}-grey-9), 0.35);
  --#{$prefix}-color-white: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-data-10: rgba(48, 167, 206, 1);
  --#{$prefix}-color-data-11: rgba(249, 192, 100, 1);
  --#{$prefix}-color-data-12: rgba(177, 113, 249, 1);
  --#{$prefix}-color-data-13: rgba(119, 182, 249, 1);
  --#{$prefix}-color-data-14: rgba(200, 143, 2, 1);
  --#{$prefix}-color-data-15: rgba(255, 170, 178, 1);
  --#{$prefix}-color-data-16: rgba(51, 176, 171, 1);
  --#{$prefix}-color-data-17: rgba(182, 215, 129, 1);
  --#{$prefix}-color-data-18: rgba(212, 88, 212, 1);
  --#{$prefix}-color-data-19: rgba(188, 198, 255, 1);
  --#{$prefix}-color-border: rgba(var(--#{$prefix}-grey-9), 0.08);
  --#{$prefix}-color-danger: rgba(var(--#{$prefix}-red-5), 1);
  --#{$prefix}-color-shadow: rgba(var(--#{$prefix}-black), 0.04);
  --#{$prefix}-color-default: rgba(var(--#{$prefix}-grey-0), 1);
  --#{$prefix}-color-info-hover: rgba(var(--#{$prefix}-blue-6), 1);
  --#{$prefix}-color-link-hover: rgba(var(--#{$prefix}-blue-6), 1);
  --#{$prefix}-color-primary: rgba(var(--#{$prefix}-brand-5), 1);
  --#{$prefix}-color-success: rgba(var(--#{$prefix}-green-5), 1);
  --#{$prefix}-color-warning: rgba(var(--#{$prefix}-orange-5), 1);
  --#{$prefix}-color-info-active: rgba(var(--#{$prefix}-blue-7), 1);
  --#{$prefix}-color-link-active: rgba(var(--#{$prefix}-blue-7), 1);
  --#{$prefix}-color-link-visited: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-tertiary: rgba(var(--#{$prefix}-grey-5), 1);
  --#{$prefix}-color-focus-border: rgba(var(--#{$prefix}-brand-5), 1);
  --#{$prefix}-color-info-disabled: rgba(var(--#{$prefix}-blue-2), 1);
  --#{$prefix}-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --#{$prefix}-color-danger-hover: rgba(var(--#{$prefix}-red-6), 1);
  --#{$prefix}-color-highlight: rgba(var(--#{$prefix}-black), 1);
  --#{$prefix}-color-secondary: rgba(var(--#{$prefix}-light-blue-5), 1);
  --#{$prefix}-color-danger-active: rgba(var(--#{$prefix}-red-7), 1);
  --#{$prefix}-color-disabled-bg: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-default-hover: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-primary-hover: rgba(var(--#{$prefix}-brand-6), 1);
  --#{$prefix}-color-success-hover: rgba(var(--#{$prefix}-green-6), 1);
  --#{$prefix}-color-warning-hover: rgba(var(--#{$prefix}-orange-6), 1);
  --#{$prefix}-color-default-active: rgba(var(--#{$prefix}-grey-2), 1);
  --#{$prefix}-color-disabled-fill: rgba(var(--#{$prefix}-grey-8), 0.04);
  --#{$prefix}-color-disabled-text: rgba(var(--#{$prefix}-grey-9), 0.35);
  --#{$prefix}-color-highlight-bg: rgba(var(--#{$prefix}-yellow-4), 1);
  --#{$prefix}-color-primary-active: rgba(var(--#{$prefix}-brand-7), 1);
  --#{$prefix}-color-success-active: rgba(var(--#{$prefix}-green-7), 1);
  --#{$prefix}-color-warning-active: rgba(var(--#{$prefix}-orange-7), 1);
  --#{$prefix}-color-tertiary-hover: rgba(var(--#{$prefix}-grey-6), 1);
  --#{$prefix}-color-disabled-border: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-primary-disabled: rgba(var(--#{$prefix}-brand-2), 1);
  --#{$prefix}-color-success-disabled: rgba(var(--#{$prefix}-green-2), 1);
  --#{$prefix}-color-tertiary-active: rgba(var(--#{$prefix}-grey-7), 1);
  --#{$prefix}-color-secondary-hover: rgba(var(--#{$prefix}-light-blue-6), 1);
  --#{$prefix}-color-secondary-active: rgba(var(--#{$prefix}-light-blue-7), 1);
  --#{$prefix}-color-info-light-hover: rgba(var(--#{$prefix}-blue-1), 1);
  --#{$prefix}-color-info-light-active: rgba(var(--#{$prefix}-blue-2), 1);
  --#{$prefix}-color-secondary-disabled: rgba(var(--#{$prefix}-light-blue-2), 1);
  --#{$prefix}-color-info-light-default: rgba(var(--#{$prefix}-blue-0), 1);
  --#{$prefix}-color-danger-light-hover: rgba(var(--#{$prefix}-red-1), 1);
  --#{$prefix}-color-danger-light-active: rgba(var(--#{$prefix}-red-2), 1);
  --#{$prefix}-color-danger-light-default: rgba(var(--#{$prefix}-red-0), 1);
  --#{$prefix}-color-primary-light-hover: rgba(var(--#{$prefix}-brand-1), 1);
  --#{$prefix}-color-success-light-hover: rgba(var(--#{$prefix}-green-1), 1);
  --#{$prefix}-color-warning-light-hover: rgba(var(--#{$prefix}-orange-1), 1);
  --#{$prefix}-color-primary-light-active: rgba(var(--#{$prefix}-brand-2), 1);
  --#{$prefix}-color-success-light-active: rgba(var(--#{$prefix}-green-2), 1);
  --#{$prefix}-color-warning-light-active: rgba(var(--#{$prefix}-orange-2), 1);
  --#{$prefix}-color-primary-light-default: rgba(var(--#{$prefix}-brand-0), 1);
  --#{$prefix}-color-success-light-default: rgba(var(--#{$prefix}-green-0), 1);
  --#{$prefix}-color-tertiary-light-hover: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-warning-light-default: rgba(var(--#{$prefix}-orange-0), 1);
  --#{$prefix}-color-tertiary-light-active: rgba(var(--#{$prefix}-grey-2), 1);
  --#{$prefix}-color-secondary-light-hover: rgba(var(--#{$prefix}-blue-1), 1);
  --#{$prefix}-color-tertiary-light-default: rgba(var(--#{$prefix}-grey-0), 1);
  --#{$prefix}-color-secondary-light-active: rgba(var(--#{$prefix}-blue-2), 1);
  --#{$prefix}-color-secondary-light-default: rgba(var(--#{$prefix}-light-blue-0), 1);
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  --#{$prefix}-shadow-elevated:
    0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --#{$prefix}-shadow-0: none;
  --#{$prefix}-shadow-1: none;
  --#{$prefix}-shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --#{$prefix}-shadow-knob: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --#{$prefix}-border-radius-full: 9999px;
  --#{$prefix}-border-radius-large: 12px;
  --#{$prefix}-border-radius-small: 4px;
  --#{$prefix}-border-radius-circle: 50%;
  --#{$prefix}-border-radius-medium: 6px;
  --#{$prefix}-border-radius-extra-small: 3px;
}

body[theme-mode='dark'],
body .#{$prefix}-always-dark {
  --#{$prefix}-color-bg-0: rgba(22, 22, 26, 1);
  --#{$prefix}-color-bg-1: rgba(35, 36, 41, 1);
  --#{$prefix}-color-bg-2: rgba(53, 54, 60, 1);
  --#{$prefix}-color-bg-3: rgba(67, 68, 74, 1);
  --#{$prefix}-color-bg-4: rgba(79, 81, 89, 1);
  --#{$prefix}-color-info: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-link: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-nav-bg: rgba(35, 36, 41, 1);
  --#{$prefix}-color-black: rgba(var(--#{$prefix}-black), 1);
  --#{$prefix}-color-data-0: rgba(94, 109, 194, 1);
  --#{$prefix}-color-data-1: rgba(8, 104, 120, 1);
  --#{$prefix}-color-data-2: rgba(250, 173, 63, 1);
  --#{$prefix}-color-data-3: rgba(76, 43, 156, 1);
  --#{$prefix}-color-data-4: rgba(16, 125, 248, 1);
  --#{$prefix}-color-data-5: rgba(248, 202, 16, 1);
  --#{$prefix}-color-data-6: rgba(195, 30, 87, 1);
  --#{$prefix}-color-data-7: rgba(5, 119, 115, 1);
  --#{$prefix}-color-data-8: rgba(154, 207, 13, 1);
  --#{$prefix}-color-data-9: rgba(117, 29, 138, 1);
  --#{$prefix}-color-fill-0: rgba(var(--#{$prefix}-white), 0.05);
  --#{$prefix}-color-fill-1: rgba(var(--#{$prefix}-white), 0.09);
  --#{$prefix}-color-fill-2: rgba(var(--#{$prefix}-white), 0.13);
  --#{$prefix}-color-text-0: rgba(var(--#{$prefix}-grey-9), 1);
  --#{$prefix}-color-text-1: rgba(var(--#{$prefix}-grey-9), 0.8);
  --#{$prefix}-color-text-2: rgba(var(--#{$prefix}-grey-9), 0.6);
  --#{$prefix}-color-text-3: rgba(var(--#{$prefix}-grey-9), 0.35);
  --#{$prefix}-color-white: rgba(228, 231, 245, 1);
  --#{$prefix}-color-data-10: rgba(16, 162, 180, 1);
  --#{$prefix}-color-data-11: rgba(208, 110, 11, 1);
  --#{$prefix}-color-data-12: rgba(113, 66, 197, 1);
  --#{$prefix}-color-data-13: rgba(7, 100, 212, 1);
  --#{$prefix}-color-data-14: rgba(251, 232, 110, 1);
  --#{$prefix}-color-data-15: rgba(160, 19, 73, 1);
  --#{$prefix}-color-data-16: rgba(11, 179, 167, 1);
  --#{$prefix}-color-data-17: rgba(98, 138, 6, 1);
  --#{$prefix}-color-data-18: rgba(162, 48, 179, 1);
  --#{$prefix}-color-data-19: rgba(40, 51, 138, 1);
  --#{$prefix}-color-border: rgba(var(--#{$prefix}-white), 0.08);
  --#{$prefix}-color-danger: rgba(var(--#{$prefix}-red-5), 1);
  --#{$prefix}-color-shadow: rgba(var(--#{$prefix}-black), 0.04);
  --#{$prefix}-color-default: rgba(var(--#{$prefix}-grey-0), 1);
  --#{$prefix}-color-info-hover: rgba(var(--#{$prefix}-blue-6), 1);
  --#{$prefix}-color-link-hover: rgba(var(--#{$prefix}-blue-6), 1);
  --#{$prefix}-color-primary: rgba(var(--#{$prefix}-brand-5), 1);
  --#{$prefix}-color-success: rgba(var(--#{$prefix}-green-5), 1);
  --#{$prefix}-color-warning: rgba(var(--#{$prefix}-orange-5), 1);
  --#{$prefix}-color-info-active: rgba(var(--#{$prefix}-blue-7), 1);
  --#{$prefix}-color-link-active: rgba(var(--#{$prefix}-blue-7), 1);
  --#{$prefix}-color-link-visited: rgba(var(--#{$prefix}-blue-5), 1);
  --#{$prefix}-color-tertiary: rgba(var(--#{$prefix}-grey-5), 1);
  --#{$prefix}-color-focus-border: rgba(var(--#{$prefix}-brand-5), 1);
  --#{$prefix}-color-info-disabled: rgba(var(--#{$prefix}-blue-2), 1);
  --#{$prefix}-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --#{$prefix}-color-danger-hover: rgba(var(--#{$prefix}-red-6), 1);
  --#{$prefix}-color-highlight: rgba(var(--#{$prefix}-white), 1);
  --#{$prefix}-color-secondary: rgba(var(--#{$prefix}-light-blue-5), 1);
  --#{$prefix}-color-danger-active: rgba(var(--#{$prefix}-red-7), 1);
  --#{$prefix}-color-disabled-bg: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-default-hover: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-primary-hover: rgba(var(--#{$prefix}-brand-6), 1);
  --#{$prefix}-color-success-hover: rgba(var(--#{$prefix}-green-6), 1);
  --#{$prefix}-color-warning-hover: rgba(var(--#{$prefix}-orange-6), 1);
  --#{$prefix}-color-default-active: rgba(var(--#{$prefix}-grey-2), 1);
  --#{$prefix}-color-disabled-fill: rgba(var(--#{$prefix}-grey-8), 0.04);
  --#{$prefix}-color-disabled-text: rgba(var(--#{$prefix}-grey-9), 0.35);
  --#{$prefix}-color-highlight-bg: rgba(var(--#{$prefix}-yellow-2), 1);
  --#{$prefix}-color-primary-active: rgba(var(--#{$prefix}-brand-7), 1);
  --#{$prefix}-color-success-active: rgba(var(--#{$prefix}-green-7), 1);
  --#{$prefix}-color-warning-active: rgba(var(--#{$prefix}-orange-7), 1);
  --#{$prefix}-color-tertiary-hover: rgba(var(--#{$prefix}-grey-6), 1);
  --#{$prefix}-color-disabled-border: rgba(var(--#{$prefix}-grey-1), 1);
  --#{$prefix}-color-primary-disabled: rgba(var(--#{$prefix}-brand-2), 1);
  --#{$prefix}-color-success-disabled: rgba(var(--#{$prefix}-green-2), 1);
  --#{$prefix}-color-tertiary-active: rgba(var(--#{$prefix}-grey-7), 1);
  --#{$prefix}-color-secondary-hover: rgba(var(--#{$prefix}-light-blue-6), 1);
  --#{$prefix}-color-secondary-active: rgba(var(--#{$prefix}-light-blue-7), 1);
  --#{$prefix}-color-info-light-hover: rgba(var(--#{$prefix}-blue-5), 0.3);
  --#{$prefix}-color-info-light-active: rgba(var(--#{$prefix}-blue-5), 0.4);
  --#{$prefix}-color-secondary-disabled: rgba(var(--#{$prefix}-light-blue-2), 1);
  --#{$prefix}-color-info-light-default: rgba(var(--#{$prefix}-blue-5), 0.2);
  --#{$prefix}-color-danger-light-hover: rgba(var(--#{$prefix}-red-5), 0.3);
  --#{$prefix}-color-danger-light-active: rgba(var(--#{$prefix}-red-5), 0.4);
  --#{$prefix}-color-danger-light-default: rgba(var(--#{$prefix}-red-5), 0.2);
  --#{$prefix}-color-primary-light-hover: rgba(var(--#{$prefix}-brand-5), 0.3);
  --#{$prefix}-color-success-light-hover: rgba(var(--#{$prefix}-green-5), 0.3);
  --#{$prefix}-color-warning-light-hover: rgba(var(--#{$prefix}-orange-5), 0.3);
  --#{$prefix}-color-primary-light-active: rgba(var(--#{$prefix}-brand-5), 0.4);
  --#{$prefix}-color-success-light-active: rgba(var(--#{$prefix}-green-5), 0.4);
  --#{$prefix}-color-warning-light-active: rgba(var(--#{$prefix}-orange-5), 0.4);
  --#{$prefix}-color-primary-light-default: rgba(var(--#{$prefix}-brand-5), 0.2);
  --#{$prefix}-color-success-light-default: rgba(var(--#{$prefix}-green-5), 0.2);
  --#{$prefix}-color-tertiary-light-hover: rgba(var(--#{$prefix}-grey-5), 0.3);
  --#{$prefix}-color-warning-light-default: rgba(var(--#{$prefix}-orange-5), 0.2);
  --#{$prefix}-color-tertiary-light-active: rgba(var(--#{$prefix}-grey-5), 0.4);
  --#{$prefix}-color-secondary-light-hover: rgba(var(--#{$prefix}-light-blue-5), 0.3);
  --#{$prefix}-color-tertiary-light-default: rgba(var(--#{$prefix}-grey-5), 0.2);
  --#{$prefix}-color-secondary-light-active: rgba(var(--#{$prefix}-light-blue-5), 0.4);
  --#{$prefix}-color-secondary-light-default: rgba(var(--#{$prefix}-light-blue-5), 0.2);
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  --#{$prefix}-shadow-elevated:
    0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --#{$prefix}-shadow-0: none;
  --#{$prefix}-shadow-1: none;
  --#{$prefix}-shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --#{$prefix}-shadow-knob: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --#{$prefix}-border-radius-full: 9999px;
  --#{$prefix}-border-radius-large: 12px;
  --#{$prefix}-border-radius-small: 4px;
  --#{$prefix}-border-radius-circle: 50%;
  --#{$prefix}-border-radius-medium: 6px;
  --#{$prefix}-border-radius-extra-small: 3px;
}

body {
  --#{$prefix}-opacity-loading: 0.65;
  --#{$prefix}-transform_scale-none: scale(1, 1);
  --#{$prefix}-transform_scale-small: scale(1, 1);
  --#{$prefix}-transform_scale-medium: scale(1, 1);
  --#{$prefix}-transform_scale-large: scale(1, 1);
  --#{$prefix}-transform-rotate-none: rotate(0deg);
  --#{$prefix}-transform_rotate-clockwise90deg: rotate(90deg);
  --#{$prefix}-transform_rotate-clockwise180deg: rotate(180deg);
  --#{$prefix}-transform_rotate-clockwise270deg: rotate(270deg);
  --#{$prefix}-transform_rotate-clockwise360deg: rotate(360deg);
  --#{$prefix}-transform_rotate-anticlockwise90deg: rotate(-90deg);
  --#{$prefix}-transform_rotate-anticlockwise180deg: rotate(-180deg);
  --#{$prefix}-transform_rotate-anticlockwise270deg: rotate(-270deg);
  --#{$prefix}-transform_rotate-anticlockwise360deg: rotate(-360deg);
  --#{$prefix}-transition_delay-fast: 180ms;
  --#{$prefix}-transition_delay-none: 0ms;
  --#{$prefix}-transition_delay-slow: 1000ms;
  --#{$prefix}-transition_delay-faster: 120ms;
  --#{$prefix}-transition_delay-normal: 600ms;
  --#{$prefix}-transition_delay-slower: 1200ms;
  --#{$prefix}-transition_delay-fastest: 90ms;
  --#{$prefix}-transition_delay-slowest: 1800ms;
  --#{$prefix}-transition_duration-fast: 180ms;
  --#{$prefix}-transition_duration-none: 0ms;
  --#{$prefix}-transition_duration-slow: 1000ms;
  --#{$prefix}-transition_duration-faster: 120ms;
  --#{$prefix}-transition_duration-normal: 600ms;
  --#{$prefix}-transition_duration-slower: 1200ms;
  --#{$prefix}-transition_duration-fastest: 90ms;
  --#{$prefix}-transition_duration-slowest: 1800ms;
  --#{$prefix}-transition_function-easeIn: cubic-bezier(0.4, 0, 1, 1);
  --#{$prefix}-transition_function-linear: linear;
  --#{$prefix}-transition_function-easeOut: cubic-bezier(0, 0, 0.2, 1);
  --#{$prefix}-transition_function-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
}
