.grid {
  margin-top: 30px;
}
.grid .tempui-row-flex .tempui-col .col-content,
.grid .tempui-row .tempui-col .col-content {
  min-height: 30px;
  line-height: 30px;
  background-color: rgba(234, 245, 255, 1);
  border: 1px solid rgba(152, 205, 253, 1);
}

.grid-flex {
  margin-top: 30px;
  .tempui-row-flex {
    height: 50px;
    background-color: rgba(46, 50, 56, 0.05);
  }
}
body {
  padding-bottom: 60px;
}

.popover-children {
  padding: 20px;
}

.top-20 {
  margin-top: 20px;
}

.top-50 {
  margin-top: 50px;
}
